

/*  Start */

@media only screen and (max-width: 480px) {
    .hero-section{
        background: url(./img/bg.jpg);
        background-size: cover;
        width: 100%;
        height: 70vh;
      }
      .hero-section-header h2{
        margin-top: 1rem;
        font-size: 1rem;
      }
      .hero-section-header p{
        font-size: .5rem;
      }
      .hero-mobile img{
         height: auto;
        max-width: 100%;
      }

  }

  /* android section  */
  @media only screen and (max-width: 480px) {
    .android-img img{
   width: 100%;
    }
    .android-content h4{
        justify-content: center;
        width: 100%;
        font-weight: 700;
        font-size: 2rem;
        
      }
  }
  /* android-section */

  /*i phone section start  */
  @media only screen and (max-width: 480px) {
    .i-phone-content{
        text-align: center;
        position: relative;
        top: 5%;
      }
      .i-phone-content i{
       text-align: center;
       
      }
  }
  /* i pghone section  */

  /*  */
  @media only screen and (max-width: 480px) {
    .vide-content h2{
        font-size: 1.5rem;
        font-weight: 700;
        color: #aaa;
      }
      .vide-content p{
        color: #aaa;
        line-height: 25px;
      }
  }
  /*  */

/*  Start */