
/*  Start */
/* hero section start */
@media only screen and (max-width: 480px) {
    .hero-section{
        width: 100%;
        height: 100%;
      }
      .hero-section-header h2{
        margin-top: 1rem;
        font-size: 1rem;
      }
      .hero-section-header p{
        font-size: .5rem;
      }
  }
  /*  hero section end  */

  /* android section  start */
  @media only screen and (max-width: 480px) {
    .android-img img{
   width: 100%;
    }
    .android-content h4{
        justify-content: center;
        width: 100%;
        font-weight: 700;
        font-size: 2rem;
      }
  }
  /* android-section end */

  /*i phone section start  */
  @media only screen and (max-width: 480px) {
    .i-phone-content{
        text-align: center;
        position: relative;
        top: 5%;
      }
      .i-phone-content i{
       text-align: center;
      }
  }
  /* i pghone section  */

  /* video section   start */
  @media only screen and (max-width: 480px) {
    .vide-content h2{
        font-size: 1.5rem;
        font-weight: 700;
        color: #aaa;
      }
      .vide-content p{
        color: #aaa;
        line-height: 25px;
      }
  }
  /* video section  end  */
  /* dosnload section start */

  @media only screen and (max-width: 480px) {
    .download-section{
        background: url(./img/1\ \(5\).jpg) no-repeat center;
        background-size: cover;
        width: 100%;
        height: 50vh;
       background-attachment: fixed;
      }
      .download-content h1{
        font-size: 2rem;
        color: whitesmoke;
        font-weight: 900;
      }
      .download-content p{
        font-weight: bold;
        color: whitesmoke;
      }
      
  }

  /*  download section end  */
  /* oll-fact-section start */

  @media only screen and (max-width: 480px) {
    .coll-fact-section{
        height: 100%;
        
      }
  }
  /*oll-fact-section end  */

  /* pricing-card start */
  @media only screen and (max-width: 480px) {
    .card{
     
      position: relative;
      left: 10%;
    }
    .card-2{
     
      position: relative;
      left: 10%;
    }
  }
  /*  pricing-car end  */

  /* contact css start */

  @media only screen and (max-width: 480px) {
    .contact-content h3{
      font-size: 1rem;
    }
    .contact-section{
      background-size: cover;
      width: 100%;
      height: 50vh;
      background-attachment: fixed;
    }
  }
  /*  contact-css end  */

/*  Start */